/* OUR FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

/* OUR COLORS */
:root {
  --bg-col: #ffe0e5;
  --pink-col: #f53855;
}

/* Basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI";
}
